<div class="container">
    <br>
    <br>
  <br>
  <br>
    <div class="row offset-lg-3">

        <div class="card col-lg-7">

            <div class="card-body">
                <h5 class="card-title">Registration</h5>
              <!--  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
                <form (ngSubmit)="onRegisterClick()" #registrationForm="ngForm">

                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="email"
                               class="form-control"
                               id="firstName"
                               aria-describedby="emailHelp"
                               placeholder="Enter First Name"
                               name="firstName"
                               [(ngModel)]="newUser._firstName"
                               #firstName="ngModel"
                               required
                        >
                      <small id="firstNameHelp"  style="color: red;" class="form-text"
                        *ngIf="(firstName.touched || registrationForm.submitted) && firstName.errors?.required">
                      First Name required.
                    </small>
                    </div>

                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="email"
                               class="form-control"
                               id="lastName"
                               aria-describedby="emailHelp"
                               placeholder="Enter Last Name"
                               name="lastName"
                               [(ngModel)]="newUser._lastName"
                               #lastName="ngModel"
                               required
                        >
                      <small id="lastNameHelp" class="form-text" style="color: red;"
                             *ngIf="(lastName.touched || registrationForm.submitted) && lastName.errors?.required"
                      >Last name required.</small>
                    </div>

                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email"
                               class="form-control"
                               id="email"
                               placeholder="name@example.com"
                               name="email"
                               [(ngModel)]="newUser._email"
                               #email="ngModel"
                               required
                        >
                      <small id="emailHelp" class="form-text" style="color: red;"
                             *ngIf="(email.touched || registrationForm.submitted) && email.errors?.required"
                      >Email required.</small>
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password"
                               class="form-control"
                               id="password"
                               placeholder="Password"
                               name="password"
                               [(ngModel)]="newUser._password"
                               #password="ngModel"
                               required
                        >
                      <small id="passwordHelp" class="form-text" style="color: red;"
                             *ngIf="(password.touched || registrationForm.submitted) && password.errors?.required"
                      >Password required.</small>

                    </div>

                    <div class="form-group">
                        <label for="gender">Gender</label>
                        <select class="form-control"
                                id="gender"
                                name="gender"
                                [(ngModel)]="newUser._gender"
                                #gender="ngModel"
                        >
                              <option>Male</option>
                              <option>Female</option>
                              <option>Transgender</option>
                        </select>
                      <small id="genderHelp" class="form-text" style="color: red;"
                             *ngIf="(gender.touched || registrationForm.submitted) && gender.errors?.required"
                      >Gender required.</small>

                    </div>
                  <div class="text-right">
                    <button class="btn btn-primary " >Register</button>
                  </div>

                </form>

            </div>
        </div>
    </div>
</div>
