<div class="container">
    <br>
    <br>
  <br>
  <br>
  <br>
  <br>
  <br>


    <div class="row offset-lg-3">

        <div class=" card col-lg-7 ">

            <div class="card-body ">
             <h5 class="card-title ">Login</h5>
              <!--  <p class="card-text ">With supporting text below as a natural lead-in to additional content.</p>-->
                <form>
                    <div class="form-group ">
                        <label for="exampleInputEmail1 ">Email address</label>
                        <input type="email " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp " placeholder="Enter email ">
                        <!-- <small id="emailHelp " class="form-text text-muted ">We'll never share your email with anyone else.</small>-->
                    </div>
                    <div class="form-group ">
                        <label for="exampleInputPassword1 ">Password</label>
                        <input type="password " class="form-control " id="exampleInputPassword1 " placeholder="Password ">
                    </div>
                    <div class="form-group ">
                        <a href="# " class="card-link ">Forgot Password</a>
                    </div>


                </form>
              <div class="text-right ">
                <button class="btn btn-primary " (click)="authenticate()">Login</button>
              </div>
            </div>
        </div>
    </div>
</div>
