<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#" style="color:white">{{app_config.APP_NAME}}</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" style="float: right;">

            <li class="nav-item">
                <a class="nav-link" style="color:white" href="#" routerLink="/main/home">Home  <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:white" href="#" routerLink="/main/network">Network</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:white" href="#" routerLink="/main/friends">Friends</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:white" href="#" routerLink="/main/settings">Settings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color:white" href="#" (click)="onLogoutClick($event)">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>
