<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" style="color:white">{{app_config.APP_NAME}}</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" style="color:white" routerLink="/login">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:white" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color:white" routerLink="/main">Main</a>
      </li>
    </ul>
  </div>
</nav>
<app-authentication></app-authentication>
<!--<app-login></app-login>
<app-registration></app-registration>-->
<!--<app-main></app-main>-->
