<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row offset-lg-3">

    <div class=" card col-lg-7 ">

      <div class="card-body ">

        <h5 class="card-title ">Settings</h5>

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Profile settings
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off"> Change Password
          </label>

        </div>
        <!--  <p class="card-text ">With supporting text below as a natural lead-in to additional content.</p>-->
        <br>
        <br>
        <form>
          <div class="form-group ">
            <label for="exampleInputEmail1 ">Email address</label>
            <input type="email " class="form-control " id="exampleInputEmail1 " aria-describedby="emailHelp " placeholder="Enter email ">
            <!-- <small id="emailHelp " class="form-text text-muted ">We'll never share your email with anyone else.</small>-->
          </div>
          <div class="form-group ">
            <label for="exampleInputPassword1 ">Password</label>
            <input type="password " class="form-control " id="exampleInputPassword1 " placeholder="Password ">
          </div>



        </form>
        <div class="text-right ">
          <button class="btn btn-primary " (click)="onProfileSave()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>


